# GEN
.DS_Store
**/.DS_Store
**/*.DS_Store
logs
*.log

# NODE
node_modules/
*lock*.yaml
*lock*.yml
**/*.css.map
**/*.js.map

# APP
.svelte/
build/
.ipynb*/
**/config/

# EXT
**/Data/
xcuserdata/
.build/
Carthage/Build/
Dependencies/
.accio/
*.app/

# RUST
**/target/