[submodule "X10"]
	path = X10
	url = https://github.com/AutoMetaOS/X10.git
[submodule "UI"]
	path = UI
	url = https://github.com/AutoMetaOS/UI.git
[submodule "Web"]
	path = Web
	url = https://github.com/AutoMetaOS/Web.git
